<!doctype html>
<html lang="pt-br">
<head>
    <title>SGB - 404</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/images/sgb-logo-favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">

    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <script src="/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
</head>
<body>

<!--CONTEUDO-->

<div class="jumbotron jumbotron-fluid bg-primary p-5">
    <div class="container text-light text-center">
        <h1 class="display-4">Esta página não existe. <i class="fas fa-search-minus"></i></h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <a href="/"><span class="badge badge-pill badge-primary mb-2" style="padding: 10px;"><i class="fas fa-home"></i> Volte para o início</span></a>
        </div>
    </div>
</div>

<!--CONTEUDO-->
</body>
</html>