<title><%-titulo%></title>
<!--<title>SGB</title>-->
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="images/sgb-logo-favicon.png"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--<link rel='stylesheet' href='/stylesheets/style_login.css' />-->
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
<script src="node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>

<style>
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: white;
    }

    .box{
        width: 370px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(123, 31, 162, 1);
        text-align: center;
        border-radius: 24px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    }

    .box h1{
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .box input[type = "text"],.box input[type = "password"]{
        background-color: white;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #ffffff;
        padding: 10px 16px;
        width: 190px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: 0.25s;
    }

    .box input[type = "text"]:focus,.box input[type = "password"]:focus{
        width: 220px;
        /*border-color: black;*/
    }

    .box input[type = "submit"], .box input[type = "button"]{
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #ffffff;
        padding: 5px 12px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

    .box input[type = "submit"]:hover, .box input[type = "button"]:hover{
        background: #a871e3;
        border: 2px solid #a871e3;
    }

    a.badge{
        color: white;
    }

    a.badge:hover{
        color: lightgray;
    }
    .subtituloLogin{
        color: white;
        font-size: 20px;
    }

    .opcoes{
        color: white;
    }
</style>