<!doctype html>
<html lang="pt-br">
<head>
    <% include ../estrutura/head.ejs %>
</head>
<body>
<% include ../estrutura/menu.ejs %>

<!--CONTEUDO-->

<div class="container mt-3">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1 class="mt-3 mb-4 text-center"><%- pg_titulo %></h1>

            <%- messages('alerta/mensagem', locals) %>

            <form action="/pesquisar/livro" method="post" autocomplete="off">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="tipo">Pesquisar por:</label>
                        <select id="tipo" class="form-control" name="pesquisa[tipo]">
                            <option selected value="titulo">Título</option>
                            <option value="autor">Autor</option>
                            <option value="isbn">ISBN</option>
                        </select>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="entrada">Entrada</label>
                        <input type="text" class="form-control" id="entrada" name="pesquisa[entrada]" required>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i> Pesquisar</button>
                </div>

            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<!--<div class="container mt-3">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-12">-->

<!--            <h1 class="text-center mt-3"><%- pg_titulo %></h1>-->

<!--            <form>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-4">-->
<!--                        <label for="inputState">Pesquisar por:</label>-->
<!--                        <select id="inputState" class="form-control">-->
<!--                            <option selected>Título</option>-->
<!--                            <option>Autor</option>-->
<!--                            <option>ISBN</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-8">-->
<!--                        <label for="inputZip">Entrada</label>-->
<!--                        <input type="text" class="form-control" id="inputZip" required>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row ml-auto">-->
<!--                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i> Pesquisar</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--CONTEUDO-->

</body>
</html>

